on:
  push:
    branches:
      - master
      - develop
  pull_request:
    branches:
      - master
      - develop
jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

  check:
    needs:
      - setup
    runs-on: ubuntu-latest
    steps:
      - name: Checkstyle
        run: mvn checkstyle:check
  build:
    needs:
      - check
    runs-on: ubuntu-latest
    steps:
      - name: Maven Compile
        run: mvn clean compile

  test:
    needs:
      - build
    runs-on: ubuntu-latest
    steps:
      - name: Run test
        run: mvn test